@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  background-color: #f8fafc;
}

@layer base {
  @font-face {
    font-family: 'magical-childhood';
    src: url('/fonts/MagicalChildhood-Rprjl.ttf') format('truetype');
  }

  :root {
    --radius: 0.5rem
  }
}